/* Header.js */

.sticky-header {
  position: -webkit-sticky; /* Cho Safari */
  position: sticky;
  top: 0;
  background-color: white; /* Thay đổi màu nền tùy ý */
  z-index: 1000; /* Đảm bảo header hiển thị trên các phần khác */
  /* Các thuộc tính CSS khác cho header của bạn */
  transition: height 7s ease;
  /* padding: 0 ;
  margin: 0; */
}
.sticky-header.scrolled {
  height: 70px; /* Chwb(300 64% 35%) cao mới khi cuộn trang */
  background-color: rgb(164, 165, 165);
  /* padding: 0;
  margin: 0; */
}

header .userTK {
  position: absolute;
  top: -30px;
}

.ghostContent a {
  display: block !important;
  z-index: 50 !important;
}

/* Infor.js */

.font-hover {
  transition: font-weight 0.3s ease-in-out;
}

.font-hover:hover {
  font-weight: bold;
  color: rgb(167 139 250);
}
/* Avatar.js */

.link-icon {
  position: relative;
  top: -5px;
  left: 50px;
}

.icon-demo {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.icon-demo i {
  color: black;
  transition: 0.5s ease;
  font-size: 20px;
}
.icon-demo i:hover {
  color: rgb(196 181 253);
}

/* About.js */
.tittle .underline {
  text-decoration: none;
}
.tittle .underline::after {
  content: "";
  display: block;
  width: 85%;
  border-bottom: 3px solid rgb(233 213 255); /* Màu và độ dày của gạch chân */
  margin: 0 auto; /* Canh giữa */
  padding-top: 5px; /* Khoảng cách giữa chữ và gạch chân */
}
.left {
  position: absolute;
  left: 0;
  top: 120%; /* Điều chỉnh giá trị này để căn chỉnh dọc nếu cần */
  transform: translateX(-21%); /* Căn giữa dọc */
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
  color: white;
}

/* SkillDemo.js */
.skill-group {
  border: 2px solid #2980b9; /* Màu của border */
  border-radius: 10px; /* Độ cong của border */
  margin-bottom: 20px;
}

.skill-group .fixBor-tittle {
  background-color: #2980b9; /* Màu nền của tiêu đề */
  color: #fff; /* Màu chữ của tiêu đề */
  padding: 10px; /* Khoảng cách giữa border và tiêu đề */
  border-top-left-radius: 5px; /* Độ cong của góc trên bên trái */
  border-top-right-radius: 5px; /* Độ cong của góc trên bên phải */
}

.skill-group .skill-description {
  margin-top: 10px; /* Khoảng cách giữa tiêu đề và mô tả */
  margin-bottom: 15px; /* Khoảng cách giữa mô tả và skill bars */
}

.skill-group .skill-description::before {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 2px solid rgb(17 24 39); /* Màu của đường phân cách */
  margin-bottom: 10px; /* Khoảng cách giữa đường phân cách và mô tả */
}

.skillbar .skillbar-percent {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 11px;
  line-height: inherit;
}
/* .skill-group .mr-7 .mb-25{
  margin-bottom: 50px !important;
} */

@media screen and (max-width: 768px) {
  /* Header.js  */
  /* Thiết lập kích thước nhỏ lại cho header khi màn hình có chiều rộng nhỏ hơn 768px */
  .sticky-header nav {
    padding-left: 5px !important; /* Thay đổi padding */
    z-index: 50;
  }

  .logo {
    font-size: 18px; /* Thay đổi kích thước font cho logo */
    margin: 0;
  }

  header .userTK {
    position: absolute;
    left: -79px;
  }

  .userTK button {
    font-size: 10px;
  }

  /* Avatar.js  */
  .imgDemo {
    margin-left: 20px;
    width: 380px !important;
    height: 380px !important;
  }
  .link-icon {
    margin-right: 100px;
  }

  /* Infor.js  */
  .inforBox {
    margin-top: 20px;
    text-align: center;
  }
  .inforBox .infor-content h1 {
    font-size: 30px !important;
  }
  .inforBox .butDemo .butContent {
    font-size: 17px;
    padding: 15px 10px;
  }

  /* About.js  */
  /* .aboutBox {
    height: auto !important; 
  } */
  .aboutBox .aboutContent {
    margin-bottom: 0;
  }
  .aboutBox .aboutContent h1 {
    font-size: 44px;
    margin-top: 35px;
  }

  .left {
    position: static; /* Đặt lại vị trí của phần tử */
    transform: none; /* Đặt lại biến đổi */
    padding-left: 2rem; /* Điều chỉnh padding theo nhu cầu */
    padding-right: 2rem; /* Điều chỉnh padding theo nhu cầu */
    margin-top: 20px;
  }
  .left .inforTD {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .left .inforTD .hocVan {
    margin-top: 20px;
  }
  .left .butCV {
    margin-top: 30px;
  }

  /* SkillDemo.js  */
  .skillBox {
    margin-left: 0 !important;
  }

  /* Login.jsx  */
  .skillUp .ml-20 {
    margin-left: 20px;
  }
  .skillUp .ml-20 h1{
    font-size: 100px;
  }
  .col_right .mr-5 {
    margin-left: 2rem;
  }

  /* ContactDemo.js  */
  .contact .contactContent {
    margin-top: 20px;
  }
  .location .contactContent {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Header.js  */
  .sticky-header nav {
    padding-left: 5px !important; /* Thay đổi padding */
    z-index: 50;
  }
  header .userTK {
    position: absolute;
    left: -79px;
  }
  /* DemoFc.js  */
  .fixDaIpadAir {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  /* Infor.js  */
  .inforBox {
    margin-top: 20px;
    text-align: center;
  }
  .inforBox .infor-content h1 {
    font-size: 30px !important;
  }
  .inforBox .butDemo .butContent {
    font-size: 17px;
    padding: 15px 10px;
  }

  /* About.js */
  .aboutBox {
    height: 50vh !important; /* Đặt chiều cao tự động để nội dung không bị tràn ra khỏi background */
  }
  .aboutBox .aboutContent {
    margin-bottom: 0;
  }
  .aboutBox .aboutContent h1 {
    font-size: 44px;
    margin-top: 35px;
  }

  .left {
    position: static; /* Đặt lại vị trí của phần tử */
    transform: none; /* Đặt lại biến đổi */
    padding-left: 2rem; /* Điều chỉnh padding theo nhu cầu */
    padding-right: 2rem; /* Điều chỉnh padding theo nhu cầu */
    margin-top: 20px;
  }
  .left .inforTD {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .left .inforTD .hocVan {
    margin-top: 20px;
  }
  .left .infor {
    font-weight: normal;
    font-size: 16px;
    padding-right: 160px;
  }
  .left .butCV {
    margin-top: 30px;
    margin-right: 160px;
  }
}

/* for ipadMini  */
@media only screen and (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  /* About.js */
  .left .infor {
    font-weight: normal;
    font-size: 16px;
    padding-right: 185px;
  }
  .left .butCV {
    margin-top: 30px;
    margin-right: 206px;
  }

  /* SkillDemo.js  */
  .skillUp {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* for ipadAir  */
@media (min-width: 820px) and (max-width: 1108px) {
  /* SkillDemo.js */
  .skillUp .mr-20 {
    margin-right: 0;
    margin-left: 60px;
  }
}

/* for ipadpro  */
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) {
  /* Header.js  */

  header .userTK {
    position: absolute;
    left: 220px;
  }

  /* About.js  */
  .aboutBox {
    height: auto !important; /* Đặt chiều cao tự động để nội dung không bị tràn ra khỏi background */
  }
  .aboutBox .aboutContent {
    margin-bottom: 0;
  }
  .aboutBox .aboutContent h1 {
    font-size: 44px;
    margin-top: 35px;
  }

  .left {
    position: static; /* Đặt lại vị trí của phần tử */
    transform: translateY(-2%); /* Đặt lại biến đổi */
    padding-left: 10px; /* Điều chỉnh padding theo nhu cầu */
    padding-right: 6rem; /* Điều chỉnh padding theo nhu cầu */
    margin-top: 20px;
  }
  .left .infor {
    font-weight: normal;
    font-size: 16px;
    padding-right: 306px;
  }
  .left .butCV {
    margin-top: 30px;
    margin-right: 306px;
  }
}
/* for iphoneSE  */
@media only screen and (min-width: 375px) and (max-width: 375px) and (min-height: 667px) and (max-height: 667px) {
  /* About.js  */

  #fixLeftDm {
    position: absolute; /* Đặt lại vị trí của phần tử */
    transform: translateY(-29%); /* Đặt lại biến đổi */
    padding-left: 10px; /* Điều chỉnh padding theo nhu cầu */
    padding-right: 6rem; /* Điều chỉnh padding theo nhu cầu */
    margin-top: 20px;
  }
  .left .infor {
    font-weight: normal;
    font-size: 8px !important;
    padding-right: 306px;
  }
  .left .butCV {
    margin-top: 30px;
    margin-right: 306px;
  }
}
